<GridLayout rows="*,*,3*" columns="*" class="home" height="100%" width="100%" backgroundImage="~/imgs/graph-paper.png">

    <Label col="0" row="0" class="title" text="ConsistenceKey"></Label>

    <Label col="0" row="1" class="sub-title" text="Consistency is key"></Label>

    <Button *ngIf="workoutVisible" class="circle" [ngClass]="(disableWeightTraining && disableCardio) ? 'disabled' : 'red'"  text="Log Workout" col="0" row="3"
            height="150" width="150" color="white" (tap)="onWorkout()"></Button>

    <StackLayout class="choices" orientation="horizontal" *ngIf="choicesVisible" col="0" row="3">
        <Button class="circle" [ngClass]="disableWeightTraining ? 'disabled' : 'yellow'" text="Weight Training" marginLeft="70px"
                height="150" width="150" color="white" (tap)="onWeightTraining()"></Button>
        <Button class="circle" [ngClass]="disableCardio ? 'disabled' : 'grey-blue'" text="Cardio"
                height="150" width="150" color="white" (tap)="onCardio()"></Button>
    </StackLayout>

</GridLayout>